@font-face {
    font-family: 'source-sans';
    src: url('assets/fonts/SourceSans3-Regular.ttf.woff');
    font-weight: normal;
}

:root {
  --toastify-color-dark: #0099FA;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

